---
import BlogLayout from '../layouts/blog-layout.astro';
import listStyles from '../components/atoms/list-item.module.css';
import BlogPostOreillyCard from '../components/blog-post-oreilly-card.astro';

import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');
---

<BlogLayout>
  <section class='blog-heading'>
    <h1>A Design Engineer's Blog</h1>
    <h2>Sometimes, I will post hot takes here.</h2>
  </section>
  <section class='blog-posts-list'>
    <ul class={listStyles.blog_list}>
      {
        blogPosts.map((post) => (
          <li>
            <BlogPostOreillyCard
              animalIcon={post.data.animalIcon}
              title={post.data.title}
              subtitle={post.data.subtitle}
              link={`/posts/${post.slug}`}
              pubDate={post.data.pubDate}
            />
            {/* {post.data.tags.map((tag) => (
              <span>{`${tag}`}</span>
            ))} */}
          </li>
        ))
      }
      <!-- <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li>
      <li>
        <BlogPostOreillyCard
          animalIcon='skunk'
          title={'stuff'}
          subtitle={'stuff'}
          link={`#`}
        />
      </li> -->
    </ul>
  </section>
</BlogLayout>
