---
import BlogLayout from '../layouts/blog-layout.astro';
import listStyles from '../components/atoms/list-item.module.css';
import BlogPostOreillyCard from '../components/blog-post-oreilly-card.astro';

import { getCollection } from 'astro:content';

const blogPosts = await getCollection('blog');
---

<BlogLayout>
  <section>
    <h1>A Design Engineer's Blog</h1>
    <h2>Sometimes, I will post hot takes here.</h2>
  </section>
  <section>
    <ul class={listStyles.blog_list}>
      {
        blogPosts.map((post) => (
          <li>
            <BlogPostOreillyCard
              animalIcon='skunk'
              title={post.data.title}
              subtitle={post.data.subtitle}
              link={`/posts/${post.slug}`}
            />
            {post.data.tags.map((tag) => (
              <span>{`${tag}`}</span>
            ))}
          </li>
        ))
      }
    </ul>
  </section>
</BlogLayout>
