---
export type Props = {
  date: string;
  heading: string;
  itemText: Element | string;
  subHeading: string;
  link?: {
    title: string;
    href: string;
    label: string;
  };
};

const { date, heading, itemText, subHeading, link } = Astro.props;
import './detail-card.css';
---

<div class='card'>
  <div class='space'>
    <h2>
      {heading}
    </h2>
    <span class='date'>{date}</span>
  </div>
  <h3>
    <a
      class='job-link'
      href={link?.href}
      title={link?.title}
      target='_blank'
      aria-label={link?.label}>{subHeading}</a
    >
  </h3>
  <div class='description'>
    {itemText}
  </div>
</div>
