---
export type Props = {
  date: string;
  heading: string;
  itemText: string;
  subHeading: string;
  link?: {
    title: string;
    href: string;
    text: string;
  };
};

const { date, heading, itemText, subHeading, link } = Astro.props;
import './detail-card.css';
---

<div class='card'>
  <span class='date'>{date}</span>
  <div class='center'>
    <h2>
      {heading}
    </h2>
    <h3>{subHeading}</h3>
    <p>
      {itemText}
    </p>
  </div>

  {
    link && (
      <a title={link.title} href={link.href} target='blank'>
        {link.text}
      </a>
    )
  }
</div>
